<div class="container mt-5">
  <h2 class="text-center mb-4">Formulaire d'Enregistrement des Postes</h2>

  <div class="card border-primary shadow p-4">

    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col-md-6 mb-3">
          <label for="titre" class="form-label">Titre du Post</label>
          <input [class.is-invalid]="titre?.invalid && titre?.touched" type="text" id="titre" formControlName="title"
            class="form-control" />
          <div *ngIf="titre?.invalid && titre?.touched">
            <small *ngIf="titre?.hasError('required')" class="text-danger">
              Le titre est obligatoire
            </small>
            <small *ngIf="titre?.hasError('minlength')" class="text-danger">
              Le titre doit contenir au moins 3 caractères
            </small>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="localisation" class="form-label">Localisation</label>
          <input [class.is-invalid]="localisation?.invalid && localisation?.touched" type="text" id="localisation"
            formControlName="localisation" class="form-control" />
          <div *ngIf="localisation?.invalid && localisation?.touched">
            <small *ngIf="localisation?.hasError('required')" class="text-danger">
              La localisation est obligatoire.
            </small>
            <small *ngIf="localisation?.hasError('pattern')" class="text-danger">
              La localisation doit être une chaîne de caractères valide (lettres uniquement).
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="category" class="form-label">Categorie</label>
          <input [class.is-invalid]="category?.invalid && category?.touched" type="text" id="category"
            formControlName="category" class="form-control" />
          <div *ngIf="category?.invalid && category?.touched">
            <small *ngIf="category?.hasError('required')" class="text-danger">
              La Categorie est obligatoire.
            </small>
            <small *ngIf="category?.hasError('pattern')" class="text-danger">
              La Category doit être une chaîne de caractères valide (lettres uniquement).
            </small>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="description" class="form-label">Description</label>
          <input [class.is-invalid]="description?.invalid && description?.touched" type="text" id="description"
            formControlName="description" class="form-control" />
          <div *ngIf="description?.invalid && description?.touched">
            <small *ngIf="description?.hasError('required')" class="text-danger">
              La Description est obligatoire.
            </small>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="dateDebut" class="form-label">Date début</label>
          <input [class.is-invalid]="dateDebut?.invalid && dateDebut?.touched" type="date" id="dateDebut"
            formControlName="dateDebut" class="form-control" />
          <div *ngIf="dateDebut?.invalid && dateDebut?.touched">
            <small *ngIf="dateDebut?.hasError('required')" class="text-danger">
              La Date de début est obligatoire.
            </small>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="dateFin" class="form-label">Date de Fin</label>
          <input [class.is-invalid]="jobForm.errors?.['dateValue']" type="date" id="dateFin" formControlName="dateFin"
            class="form-control" />
          <small class="text-danger" *ngIf="jobForm.errors?.['dateValue']">Date fin doit etre superienr a la Date
            du debut</small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="salaire" class="form-label">Salaire</label>
          <input type="number" id="salaire" formControlName="salaire" class="form-control" />
          <div *ngIf="salaire?.invalid && salaire?.touched" class="text-danger">
            <small *ngIf="salaire?.hasError('required')">Le salaire est obligatoire.</small>
            <small *ngIf="salaire?.hasError('min')">Le salaire doit être supérieur ou égal à 0.</small>
            <small *ngIf="salaire?.hasError('pattern')">Le salaire doit être un nombre valide.</small>
          </div>
        </div>
      </div>


      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="jobForm.invalid">Soumettre</button>
      </div>
    </form>
  </div>
</div>
