<div class="container mt-5">
  <h2 class="text-center mb-4 text-primary">ENREGISTREMENT D'UN PROJET</h2>
  <div class="card border-0 shadow p-4">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <!-- Premier ligne Titre et Catégorie -->
      <div class="row">
        <div class="col-md-6 mb-3 form-group">
          <label for="titre" class="form-label fw-bold">Titre</label>
          <input [class.is-invalid]="titre?.invalid && titre?.touched" formControlName="titre" type="text"
            class="form-control form-control-lg" />
          <div *ngIf="titre?.invalid && titre?.touched">
            <small *ngIf="titre?.hasError('required')">Le titre est obligatoire</small>
            <small *ngIf="titre?.hasError('minlength')">
              Le titre doit avoir au moins 3 caractères
            </small>
            <small *ngIf="titre?.hasError('pattern')">Le titre doit être valide</small>
          </div>
        </div>

        <div class="col-md-6 mb-3 form-group">
          <label for="categorie" class="form-label fw-bold">Catégorie</label>
          <select id="categorie" formControlName="categorie" class="form-control form-control-lg">
            <option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</option>
          </select>
          <div *ngIf="categorie?.invalid && categorie?.touched">
            <small *ngIf="categorie?.hasError('required')">La catégorie est obligatoire</small>
            <small *ngIf="categorie?.hasError('pattern')">La catégorie doit être valide</small>
          </div>
        </div>
      </div>

      <!-- Deuxième ligne Localisation et Montant à atteindre -->
      <div class="row">
        <div class="col-md-6 mb-3 form-group">
          <label for="localisation" class="form-label fw-bold">Localisation</label>
          <select name="localisation" formControlName="localisation" class="form-control form-control-lg">
            <option *ngFor="let localisation of localisations" [value]="localisation">{{localisation}}</option>
          </select>
          <div *ngIf="localisation?.invalid && localisation?.touched">
            <small *ngIf="localisation?.hasError('required')">La localisation est obligatoire</small>
            <small *ngIf="localisation?.hasError('pattern')">La localisation doit être valide</small>
          </div>
        </div>

        <div class="col-md-6 mb-3 form-group">
          <label for="montantAtteindre" class="form-label fw-bold">Montant à atteindre</label>
          <input [class.is-invalid]="montantAtteindre?.invalid && montantAtteindre?.touched"
            formControlName="montantAtteindre" type="number" class="form-control form-control-lg" />
          <div *ngIf="montantAtteindre?.invalid && montantAtteindre?.touched">
            <small *ngIf="montantAtteindre?.hasError('required')">Le montant est obligatoire</small>
            <small *ngIf="montantAtteindre?.hasError('min')">
              Le montant doit être supérieur ou égal à 0
            </small>
          </div>
        </div>
      </div>

      <!-- Troisième ligne Date de création et Date Limite -->
      <div class="row">
        <div class="col-md-6 mb-3 form-group">
          <label for="dateCreation" class="form-label fw-bold">Date de Création</label>
          <input [class.is-invalid]="dateCreation?.invalid && dateCreation?.touched" formControlName="dateCreation"
            type="date" class="form-control form-control-lg" />
          <div *ngIf="dateCreation?.invalid && dateCreation?.touched">
            <small *ngIf="dateCreation?.hasError('required')">La date de Création est obligatoire</small>
          </div>
        </div>

        <div class="col-md-6 mb-3 form-group">
          <label for="dateLimite" class="form-label fw-bold">Date Limité</label>
          <input [class.is-invalid]="projectForm.errors?.['dateValue'] && projectForm.get('dateLimite')" type="date"
            id="dateLimite" formControlName="dateLimite" class="form-control form-control-lg" />
          <div *ngIf="projectForm.hasError('dateValue') && projectForm.get('dateLimite')?.touched  ">
            <small>La date Limite doit etre superieur a la de debut.</small>
          </div>
        </div>
      </div>



      <!-- Quatrième ligne Description -->
      <div class="row">
        <div class="col-md-12 mb-3 form-group">
          <label for="description" class="form-label fw-bold">Description</label>
          <textarea [class.is-invalid]="description?.invalid && description ?.touched" formControlName="description"
            class="form-control form-control-lg" rows="4">
          </textarea>
          <div *ngIf="description?.invalid && description?.touched">
            <small *ngIf="description?.hasError('required')">La Description est obligatoire</small>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg px-5" [disabled]="projectForm.invalid">
          {{ editMode ? "Mettre à jour" : "Créer" }}
        </button>
      </div>
    </form>
  </div>
</div>
